<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid flexible">
    <ul class="navbar-nav">
      <li class= "titulo-li">
        <h1 class= "titulo-nav">Bienvenido!</h1>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <%= button_to "Crear post" , root_path , class: "nav-link active" %>
        </li>
      </ul>
    </div>

  </div>
</nav>