<div id="<%= dom_id shirt %>">
  <p>
    <strong>Birth year:</strong>
    <%= shirt.birth_year %>
  </p>

  <p>
    <strong>Shirt description:</strong>
    <%= shirt.shirt_description %>
  </p>

  <p>
    <strong>Shirt title:</strong>
    <%= shirt.shirt_title %>
  </p>

</div>
