@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

:root {
    --color-primario: #0f314f;
    --color-secundario: #9fabc8;
    --color-background: rgb(215, 215, 143);
    --color-iconos-neutrales: #eee;
    --color-neutro: white;
}

html {
    font-size: 10px;
}


body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    background-color: var(--color-background);
}

////***** NAVBAR *****////

.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--color-primario) !important;
    color: var(--color-secundario) !important;
    z-index: 50;
    top: 0;
}

.navbar-brand {
    color: var(--color-neutro);
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.navbar-nav .nav-item form button {
    background-color: var(--color-primario) !important;
    color: var(--color-neutro);
    border: none;
}

.nav-link {
    color: var(--color-neutro) !important;
    transition: all 300ms ease-in-out;
    padding: 1rem;
    border-radius: 0.5rem;
}
@media  (min-width: 992px){
    .nav-link:hover {
        color: var(--color-primario) !important;
        background-color:  var(--color-neutro);
    }
}


.nav-link>button {
    border: none;
    background-color: var(--color-primario) !important;
    color: var(--color-neutro);
}

.navbar-toggler {
    background-color: var(--color-iconos-neutrales);
}

#navbarNav {
    align-items: center;
    justify-content: end;
}


.titulo-li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.titulo-nav {
    color: var(--color-neutro);
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
}

.collapse__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

////***** FIN NAVBAR *****////

